$theme: 'dark';

$primary: #afcae2;
$primary_fixed: #cbe6ff;
$primary_fixed_dim: #afcae2;
$on_primary: #173346;
$on_primary_fixed: #001e30;
$on_primary_fixed_variant: #2f495e;
$primary_container: #2f495e;
$on_primary_container: #cbe6ff;
$secondary: #c2c7cd;
$secondary_fixed: #cbe6ff;
$secondary_fixed_dim: #afcae2;
$on_secondary: #2c3136;
$on_secondary_fixed: #171c21;
$on_secondary_fixed_variant: #42474d;
$secondary_container: #42474d;
$on_secondary_container: #dee3ea;
$tertiary: #ccc3d4;
$tertiary_fixed: #cbe6ff;
$tertiary_fixed_dim: #afcae2;
$on_tertiary: #332e3b;
$on_tertiary_fixed: #1e1a25;
$on_tertiary_fixed_variant: #4a4452;
$tertiary_container: #4a4452;
$on_tertiary_container: #e8dff0;
$error: #ffb4ab;
$on_error: #690005;
$error_container: #93000a;
$on_error_container: #ffb4ab;
$surface: #131314;
$surface_transparent: transparentize($surface, 0.2);
$on_surface: #e4e2e3;
$on_surface_variant: #c6c6c9;
$outline: #909193;
$shadow: #000000;
$scrim: #000000;
$inverse_surface: #e4e2e3;
$inverse_surface_transparent: transparentize(#e4e2e3, 0.92);
$inverse_surface_transparent_variant: transparentize(#e4e2e3, 0.82);
$inverse_on_surface: #303031;
$inverse_primary: #476177;
$surface_dim: #131314;
$surface_bright: #39393a;
$surface_container_lowest: #0e0e0f;
$surface_container_low: #1f2020;
$surface_container: #1f2020;
$surface_container_high: #2a2a2b;
$surface_container_highest: #343536;

$source_color: #3e586d;
$color_accent_primary: #cbe6ff;
$color_accent_primary_variant: #94aec6;
$color_accent_secondary: #dee3ea;
$color_accent_secondary_variant: #a7acb2;
$color_accent_tertiary: #e8dff0;
$color_accent_tertiary_variant: #b0a8b8;
$text_color_primary: #f2f0f1;
$text_color_secondary: #c6c6c9;
$text_color_tertiary: #909193;
$text_color_primary_inverse: #1b1c1c;
$text_color_secondary_inverse: #474748;
$text_color_tertiary_inverse: #777778;
$color_background: #1b1c1c;
$color_background_floating: #1b1c1c;
$color_surface: #303031;
$color_surface_variant: #474748;
$color_surface_highlight: #525253;
$surface_header: #474748;
$under_surface: #000000;
$off_state: #303031;
$accent_surface: #ecf1f8;
$text_primary_on_accent: #1b1c1c;
$text_secondary_on_accent: #454749;
$volume_background: #3b3b3c;
$scrim_android: #c8c6c7;
