
$background: #0f1416;

$blue: #99ccfa;

$blue_container: #094b72;

$blue_source: #89b4fa;

$blue_value: #89b4fa;

$error: #ffb4ab;

$error_container: #93000a;

$green: #91d5ad;

$green_container: #035233;

$green_source: #a6e3a1;

$green_value: #a6e3a1;

$inverse_on_surface: #2c3134;

$inverse_primary: #04677e;

$inverse_surface: #dee3e6;

$on_background: #dee3e6;

$on_blue: #003352;

$on_blue_container: #cde5ff;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_green: #003822;

$on_green_container: #acf2c8;

$on_orange: #492900;

$on_orange_container: #ffdcbd;

$on_primary: #003543;

$on_primary_container: #b5ebff;

$on_primary_fixed: #001f28;

$on_primary_fixed_variant: #004e60;

$on_purple: #30285f;

$on_purple_container: #e5deff;

$on_red: #511d3d;

$on_red_container: #ffd8ea;

$on_secondary: #1d333b;

$on_secondary_container: #cfe6f0;

$on_secondary_fixed: #071e26;

$on_secondary_fixed_variant: #344a52;

$on_surface: #dee3e6;

$on_surface_variant: #bfc8cc;

$on_tertiary: #2b2e4d;

$on_tertiary_container: #e0e0ff;

$on_tertiary_fixed: #161937;

$on_tertiary_fixed_variant: #424465;

$on_yellow: #373100;

$on_yellow_container: #f1e48a;

$orange: #fcb974;

$orange_container: #693c00;

$orange_source: #fab387;

$orange_value: #fab387;

$outline: #8a9296;

$outline_variant: #40484c;

$primary: #87d1eb;

$primary_container: #004e60;

$primary_fixed: #b5ebff;

$primary_fixed_dim: #87d1eb;

$purple: #c9bfff;

$purple_container: #473f77;

$purple_source: #cba6f7;

$purple_value: #cba6f7;

$red: #fbb0d8;

$red_container: #6c3455;

$red_source: #f38ba8;

$red_value: #f38ba8;

$scrim: #000000;

$secondary: #b3cad4;

$secondary_container: #344a52;

$secondary_fixed: #cfe6f0;

$secondary_fixed_dim: #b3cad4;

$shadow: #000000;

$source_color: #53b7d6;

$surface: #0f1416;

$surface_bright: #343a3c;

$surface_container: #1b2023;

$surface_container_high: #252b2d;

$surface_container_highest: #303638;

$surface_container_low: #171c1f;

$surface_container_lowest: #0a0f11;

$surface_dim: #0f1416;

$surface_tint: #87d1eb;

$surface_variant: #40484c;

$tertiary: #c2c3eb;

$tertiary_container: #424465;

$tertiary_fixed: #e0e0ff;

$tertiary_fixed_dim: #c2c3eb;

$yellow: #d5c871;

$yellow_container: #4f4700;

$yellow_source: #f9e2af;

$yellow_value: #f9e2af;



$theme: 'dark';
$surface_transparent: transparentize($surface, 0.2);
$inverse_surface_transparent: transparentize($inverse_surface, 0.92);
$inverse_surface_transparent_variant: transparentize($inverse_surface, 0.82);
$inverse_surface_transparent_overlay: linear-gradient(0deg, $inverse_surface_transparent, $inverse_surface_transparent);
$inverse_surface_transparent_variant_overlay: linear-gradient(0deg, $inverse_surface_transparent_variant, $inverse_surface_transparent_variant);
